/*-------------------------------

    Custom stylesheet (custom.css)


    --


----------------------------*/

.x1-bk {
    
    background-color: #F9EEEA;

}

.x2-bk {
    
    background-color: #F5F0E6;

}

.x3-bk {

    /* lime green */
    background-color: #F7FDF4;
    /* electric green */
    /* background-color: #F3FBF7; */
    /* alt green */
    /* background-color: #EDF5F3; */ 

}

.x4-bk {
   
    /* cardboard color */
    background-color: #EAE7E1; 
}
.x5-bk {
   /* momntum */
    /* light gray */
    /* background-color: #FAfAfA;  */

    /* dark gray */
     background-color: #CACBCE;  

}


.moving-image-wrapper {
    display: flex;
    animation: moveImage 15s linear infinite;
}

 
 .moving-image {
     max-width: 33.33%;
   
 }



  @keyframes moveImage {
      0% {
          transform: translateX(0%);
      }

      100% {
          transform: translateX(-200%);
      }
  }


.altp {
    margin-bottom: 8px;
}

.extrsp {

    margin-bottom: 40px;
}

.preview {
    background-color: white;
}

.pr-image {
    padding-right: 2%;
}
.pl-image {
    padding-left: 2%;
}

/* .video-container {
    visibility: hidden;
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    /* Adjust this to your video's aspect ratio */
/* }  */

#scrollVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.accordion__body {
    display: none;
}

.open-accordion .accordion__body {
    display: block;
}

.arrow {
    cursor: pointer;
}


.icon-rotated {
    
    transform: rotate(90deg);
    transition: transform 0.3s ease;
    /* Rotate the icon 90 degrees (pointing down) */
}

.special-note {
    font-family: Montserrat, Helvetica Neue, Helvetica, sans-serif;
    font-size: .9em;
    font-weight: 400;
    /* padding: 0px 20px 0px 20px; */
    /* text-align: left; */


}
.work-read {
    font-family: Montserrat, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-align: left;


}


.role-title {
    font-family: Montserrat, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #555;
    text-align: left;
    
    /* color: #5D737E; */

}

.desc-title {
    font-family: Montserrat, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #555;
    text-align: left;
    
    /* color: #5D737E; */

}

.role-desc {
    font-family: Montserrat, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #555;
    
    /* color: #5D737E; */

}

.d-process-list {
    display: block;

}

.m-process-list {
    display: none;

}


.icon-wrapper {
    display: flex;
    align-items: center;
    /* Vertical center alignment */
    justify-content: center;
    /* Horizontal center alignment */
}



/* Mobile */
@media (max-width: 1000px) {

.special-note {
        
        display: none;
    }

.pr-image {
    padding-right: 0%;
}

.pl-image {
    padding-left: 0%;
}

.d-process-list {
    display: none;

}
.m-process-list {
    display: block;

}

.content {
    padding-right: 0px;
    padding-left: 0px;

}

.copy {
padding: 0px 30px 0px 30px;
}

.desc-title {
    padding-left: 10px;
}



/* .icon-wrapper {
    margin-bottom: 20px;
} */


/* .icon-wrapper-open {
    margin-bottom: 0px;
} */



}


/* scroll images mobile  */

@media (max-width: 768px) {
    .moving-image {
        max-width: 100%;
    }

    .moving-image-wrapper {
        animation: moveImage 10s linear infinite;
        /* Adjust animation duration for smaller screens */
    }


.custom-fluid-container {
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}

}

  