*.log
node_modules/
.DS_Store
js/functions.js
js/functions-old.js

js/assets/params.js
js/assets/paramsnewTest.js
js/assets/paramsedit.js
js/assets/paramsnew.js
js/assets/popup.js
getpassword copy.html
index copy.html








