<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
			<!-- Google tag (gtag.js) -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-4BC9V299P5"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag() { dataLayer.push(arguments); }
				gtag('js', new Date());
				gtag('config', 'G-4BC9V299P5');
			</script>
			
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Maggie Walker</title>
		<meta name="description" content=" - CV / Resume /" />

		<!-- <base href="../"/> -->

		<!--Favicon-->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">

		<!--Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Hind:400,500,300,600' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,700' rel='stylesheet' type='text/css'>

		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/custom.css" />


	</head>

	<body id="body" data-ng-app="contactApp" onload="updateTextElement()">

		<!--Fixed Bg Image-->

		<div class="fixed-bg">
			<!-- particles.js container -->
			<div id="particles-js"></div>
			<!-- scripts -->
			<script src="js/particle/particles.js"></script>
			<script src="js/particle/app.js"></script>


			<script>

				count_particles = document.querySelector('.js-count-particles');
				update = function() {
					// stats.begin();
					// stats.end();
					if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
						// count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
					}
					requestAnimationFrame(update);
				};
				requestAnimationFrame(update);
			</script>

			<!-- end particles -->
		</div>


<div class="fixed-gradient-bg"></div>
<div class="fixed-bg-overlay"></div>

<!--/Fixed Bg Image-->

		<!--Preloader-->
		<div id="pre_load" class="preloader-it">
			<div id="la_anim" class="la-anim-1"></div>
		</div>
		<!--/Preloader-->

		<!--Container-->
		<div class="container-fluid">
			<div class="row">
				<div id="vertical_nav_wrap" class="col-lg-4 col-xs-12 pad-zero vertical-nav-wrap">

					<!--Navigation-->
					<nav class="navbar navbar-default vertical-nav" role="navigation">
						<div class="navbar-header">
						  <button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse"
							 data-target="#navbar_collapse">
							 <span class="mask"></span>
							 <span class="btn-label">
								<span class="pe-7s-menu"></span>
							 </span>
						  </button>
						</div>
						<div class="collapse navbar-collapse" id="navbar_collapse">
							<ul class="nav navbar-nav">
								<li><a data-scroll href="#body"></a><span>about</span></li>
								<li><a data-scroll href="#services_sec"></a><span>services</span></li>
								<li><a data-scroll href="#skill_sec"></a><span>skills</span></li>
								<li><a data-scroll href="#work_sec"></a><span>work</span></li>
								<li><a data-scroll href="#edu_sec"></a><span>education</span></li>
								<li><a data-scroll href="#exp_sec"></a><span>experience</span></li>
								<li><a data-scroll href="#award_sec"></a><span>awards</span></li>
								<!-- <li><a data-scroll href="#achivement_sec"></a><span>achivements</span></li> -->
								<li><a data-scroll href="#contact_sec"></a><span>contact</span></li>
							</ul>
						</div>
					</nav>
					<!--/Navigation-->

				</div>

				<div class="col-lg-8 col-xs-12 pad-zero">

					<!--Header-->
					<header>
						<div class="header-wrap col-lg-10 center-div">
							<div class="float-left name">
								<a data-scroll href="#body">
									<span>
										MAGGIE WALKER
									</span>
								</a>
							</div>

							<div class="float-right social-download-wrap">
								<a href="MaggieWalker_Resume.pdf" style="background-color:#FF928B"class="btn btn-default float-left">
									<span class="mask"></span>
									<span class="btn-label">
										<b>Download Resume</b>
										<span class="icon pe-7s-download"></span>
									</span>
								</a>
							</div>
						</div>
						<div class="clearfix"></div>
					</header>
					<!--/Header-->

					<!--Main Content-->
					<div id="main_content" class="content-block margin-top-150">

						<!--Introduction Sec-->
						<section id="intro_content_sec"   class="col-lg-10 col-md-11 col-sm-12 center-div intro-content-wrap sec-pad">
              <div>
							<div class="person-img margin-bottom-xs"></div>
							<h1>
								<span>Hiya&nbsp</span><span id="textElement"></span><span>!</span> <span id="typed"></span>
							</h1>
							<h5>
								about
							</h5>
							<p class="wow fadeInUp" data-wow-duration=".6s">

                A dynamic designer with expertise in bringing creative visions to life through videos, motion graphic animations, UI/UX, and digital & print graphics in any industry. Skilled at ideating and executing creative concepts across all media channels, and design in both digital and traditional media. Comfortable with managing multiple projects simultaneously.

							</p>
							<!-- <p class="wow fadeInUp" data-wow-duration=".4s">
								I am a complete social animal. Find my work on <a class="goto-social" href="#" target="_blank">Behance</a> & <a href="#" class="goto-social" target="_blank">Dribbble</a>. Experience my photography skills on <a href="#" class="goto-social" target="_blank">Instagram</a> & <a class="goto-social" href="#" target="_blank">Flickr</a>.

							</p> -->
							<!-- <div class="per-signature margin-top-sm wow fadeInUp" data-wow-duration=".4s">
								<img class="img-responsive md-logo" src="img/signature.png" alt="signature"/>
							</div> -->
						</div>
						</section>
						<!--/Introduction Sec-->

						<hr class="separater-hr"/>

						<!--WhatWeDo Sec-->
						<section id="services_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div services-icon-wrap  sec-pad-top sec-pad-bottom-xs">
							<h5>what i do</h5>
							<div class="row">

								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".1s">
                	<span class="icon pe-7s-vector"></span>
									<span class="key-fact">
										DESIGN
									</span>
								</div>

								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".2s">
									<span class="icon pe-7s-gleam"></span>
									<span class="key-fact">
									 DEVELOPMENT
									</span>
								</div>

								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay="0s">
									<span class="icon pe-7s-film"></span>
										<span class="key-fact">
										EDITING
									</span>
								</div>

								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".3s">
									<span class="icon pe-7s-portfolio"></span>
									<span class="key-fact">
										MANAGEMENT
									</span>
								</div>

							</div>
						</section>
						<!--/WhatWeDo Sec-->

						<hr class="separater-hr"/>

						<!--Skills Sec-->
						<section id="skill_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div skills-wrap  sec-pad-top sec-pad-bottom-xs">
							<h5>technical skills</h5>
							<p class="wow fadeInUp" data-wow-duration=".4s">As a multifaceted designer, I prefer a hands on and thoughtful approaches to design executions. I embrace new technology trying my hands on various techniques and software. I strive to continuously research and learn new design trends and tools.
							</p>
							<div class="row margin-top-40">
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">AFTER EFFECTS</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="90">
													<strong><i>90</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Adobe Animate</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="85">
													<strong><i>90</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">PHOTOSHOP</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="100">
													<strong><i>100</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">FIGMA</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="85">
													<strong><i>90</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">PREMIERE</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="85">
													<strong><i>85</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">BOOTSTRAP STUDIO</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<div class="bar-wrap">
													<span data-width="90">
														<strong><i>90</i>%</strong>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</section>
						<!--/Skills Sec-->

						<hr class="separater-hr"/>

						<!-- Video Work Sec-->
						<section id="work_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div work-wrap  sec-pad">
							<h5>WORK SAMPLES</h5>
							<h6>SOCIAL AND STREAMING ADS</h6>

							<p class="wow fadeInUp" data-wow-duration=".4s">I have extensive experience designing and animating/editing video ads for all social channels such as Facebook, IG, Snapchat, TikTok and YouTube. In additon to a long history of HTML display banners. Please reach out for more specific samples.
							</p><br>

							<div  class="portfolio-wrap project-gallery padding-sec-lg">
								<ul id="portfolio" class="portf auto-construct  project-gallery" data-col="2">

								<li class="item" data-html="#video20" data-poster="p/thumbs/20.jpg" data-sub-html="<h6>Rita Ora Spring Collection Option A</h6><p></p>">
										<a href="">
										<img class="img-responsive" src="p/thumbs/20.jpg"  alt="Image description" />
										<span class="hover-cap">Rita Ora Spring Collection Option A</span>
										</a>
									</li>

								<li class="item" data-html="#video19" data-poster="p/thumbs/19.jpg" data-sub-html="<h6>Rita Ora Spring Collection Option B</h6><p></p>">
										<a href="">
										<img class="img-responsive" src="p/thumbs/19.jpg"  alt="Image description" />
										<span class="hover-cap">Rita Ora Spring Collection Option B</span>
										</a>
									</li>

								<li class="item" data-html="#video18" data-poster="p/thumbs/18.jpg" data-sub-html="<h6>Membership Focused Youtube Ad</h6><p></p>">
										<a href="">
										<img class="img-responsive" src="p/thumbs/18.jpg"  alt="Image description" />
										<span class="hover-cap">Membership Focused Youtube Ad</span>
										</a>
									</li>

								<li class="item" data-html="#video17" data-poster="p/thumbs/17.jpg" data-sub-html="<h6>Oriane x Shoedazzle</h6><p></p>">
										<a href="">
										<img class="img-responsive" src="p/thumbs/17.jpg"  alt="Image description" />
										<span class="hover-cap">Oriane x Shoedazzle</span>
										</a>
									</li>

								<li class="item" data-html="#video15" data-poster="p/thumbs/15.jpg" data-sub-html="<h6>Influencer Mashup</h6><p></p>">
										<a href="">
										<img class="img-responsive" src="p/thumbs/15.jpg"  alt="Image description" />
										<span class="hover-cap">Influencer Mashup</span>
										</a>
									</li>

								<li class="item" data-html="#video16" data-poster="p/thumbs/16.jpg" data-sub-html="<h6>The Clear Winner</h6><p></p>">
										<a href="">
										<img class="img-responsive" src="p/thumbs/16.jpg"  alt="Image description" />
										<span class="hover-cap">The Clear Winner</span>
										</a>
									</li>

								<!-- <li class="item" data-html="#video14" data-poster="p/thumbs/14.jpg" data-sub-html="<h6>Everyday Boots</h6><p></p>">
										<a href="">
										<img class="img-responsive" src="p/thumbs/14.jpg"  alt="Image description" />
										<span class="hover-cap">Everyday Boots</span>
										</a>
									</li> -->

								<li class="item" data-html="#video12" data-poster="p/thumbs/12.jpg" data-sub-html=""<h6></h6><p></p>
										<a href="">
										<img class="img-responsive" src="p/thumbs/12.jpg"  alt="Image description" />
										<span class="hover-cap"></span>
										</a>
									</li>

								<li class="item" data-html="#video1" data-poster="p/thumbs/1.jpg" data-sub-html="<h6>Wear From Home</h6><p>This ad was concepted in response to Covid 19 and a change in purchasing trends towards more comfort driven styles.</p>">
										<a href="">
										<img class="img-responsive" src="p/thumbs/1.jpg"  alt="Image description" />
										<span class="hover-cap">Wear From Home</span>
										</a>
									</li>

								<li class="item" data-html="#video2" data-poster="p/thumbs/2.jpg" data-sub-html="<h6>Stop Overpaying For Shoes</h6><p>This ad was apart of a native campaign explaining the smarter way to buy shoes.</p>">
										<a href="">
										<img class="img-responsive" src="p/thumbs/2.jpg"  alt="Image description" />
										<span class="hover-cap">Stop Overpaying For Shoes</span>
										</a>
									</li>


								<li class="item" data-html="#video3" data-poster="p/thumbs/3.jpg" data-sub-html="<h6>Spring Preview Sale Story AD</h6><p>Campaign featuring top selling PVC styles.</p>">
										<a href="">
										<img class="img-responsive" src="p/thumbs/3.jpg"  alt="Image description" />
										<span class="hover-cap">Spring Preview Sale Story AD</span>
										</a>
									</li>


								<!-- <li class="item" data-html="#video4" data-poster="p/thumbs/4.png" data-sub-html="<h6>Hannah G, Getaway Campaign Story AD</h6><p>Campaign for capsule collection with influencer Hannah G.</p>">
										<a href="">
										<img class="img-responsive" src="p/thumbs/4.png"  alt="Image description" />
										<span class="hover-cap">Hannah G, Getaway Campaign Story AD</span>
										</a>
									</li> -->


								<li class="item" data-html="#video5" data-poster="p/thumbs/5.jpg" data-sub-html="<h6>The Perfect Booties Video AD</h6><p>   </p>">
										<a href="">
										<img class="img-responsive" src="p/thumbs/5.jpg"  alt="Image description" />
										<span class="hover-cap">Remi, The Perfect Booties Video AD</span>
										</a>
									</li>


								<!-- <li class="item" data-html="#video6" data-poster="p/thumbs/6.jpg" data-sub-html="<h6>Fall Florals Story Video AD</h6><p></p>">
										<a href="">
										<img class="img-responsive" src="p/thumbs/6.jpg"  alt="Image description" />
										<span class="hover-cap">Fall Florals Story Video AD</span>
										</a>
									</li> -->

								<!-- <li class="item" data-html="#video7" data-poster="p/thumbs/7.png" data-sub-html="<h6>Photo Finish Video AD</h6><p> </p>">
										<a href="">
										<img class="img-responsive" src="p/thumbs/7.png"  alt="Image description" />
										<span class="hover-cap">Photo Finish Video AD</span>
										</a>
									</li> -->

								<li class="item" data-html="#video8" data-poster="p/thumbs/8.jpg" data-sub-html="<h6>Aliya Janell Collection Story AD</h6><p> </p>">
										<a href="">
										<img class="img-responsive" src="p/thumbs/8.jpg"  alt="Image description" />
										<span class="hover-cap">Aliya Janell Collection Story AD</span>
										</a>
									</li>

								<!-- <li class="item" data-html="#video9" data-poster="p/thumbs/9.png" data-sub-html="<h6>Neutral Shoes Story AD</h6><p> </p>">
										<a href="">
										<img class="img-responsive" src="p/thumbs/9.png"  alt="Image description" />
										<span class="hover-cap">Neutral Shoes Story AD</span>
										</a>
									</li> -->

								<!-- <li class="item" data-html="#video10" data-poster="p/thumbs/10.png" data-sub-html="<h6>Style Edit Story AD</h6><p> </p>">
										<a href="">
										<img class="img-responsive" src="p/thumbs/10.png"  alt="Image description" />
										<span class="hover-cap">Style Edit Story AD</span>
										</a>
								</li> -->

								<!-- <li class="item" data-html="#video11" data-poster="p/thumbs/11.png" data-sub-html="<h6>NYFW Story Ad</h6><p> </p>">
										<a href="">
										<img class="img-responsive" src="p/thumbs/11.png"  alt="Image description" />
										<span class="hover-cap">NYFW Story Ad</span>
										</a>
								</li> -->
								</ul>

								<!-- Hidden video divs -->
								<div style="display:none;" id="video1">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" preload="none" playsinline controls
										src="p/video/1.mp4" type="video/webm">
										<!-- <source src="p/video/4.webm" type="video/webm"> -->
										Your browser does not support HTML5 video.
									</video>
								</div>


								<div style="display:none;" id="video2">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" preload="none" playsinline controls
										src="p/video/2.mp4" type="video/webm">
										<!-- <source src="p/video/4.webm" type="video/webm"> -->
										Your browser does not support HTML5 video.
									</video>
								</div>

								<div style="display:none;" id="video3">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" preload="none" playsinline controls
										src="p/video/3.mp4" type="video/webm">
										<!-- <source src="p/video/4.webm" type="video/webm"> -->
										Your browser does not support HTML5 video.
									</video>
								</div>

								<div style="display:none;" id="video4">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" preload="none" playsinline controls
										src="p/video/4.mp4" type="video/webm">
										<!-- <source src="p/video/4.webm" type="video/webm"> -->
										Your browser does not support HTML5 video.
									</video>
								</div>

								<div style="display:none;" id="video5">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin"  preload="none" playsinline controls
										src="p/video/5.mp4" type="video/webm">
										<!-- <source src="p/video/4.webm" type="video/webm"> -->
										Your browser does not support HTML5 video.
									</video>
								</div>

								<div style="display:none;" id="video6">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" preload="none" playsinline controls
										src="p/video/6.mp4" type="video/webm">
										<!-- <source src="p/video/4.webm" type="video/webm"> -->
										Your browser does not support HTML5 video.
									</video>
								</div>

								<div style="display:none;" id="video7">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" preload="none" playsinline controls
										src="p/video/7.mp4" type="video/webm">
										<!-- <source src="p/video/4.webm" type="video/webm"> -->
										Your browser does not support HTML5 video.
									</video>
								</div>

								<div style="display:none;" id="video8">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" preload="none" playsinline controls
										src="p/video/8.mp4" type="video/webm">
										<!-- <source src="p/video/4.webm" type="video/webm"> -->
										Your browser does not support HTML5 video.
									</video>
								</div>

								<div style="display:none;" id="video9">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" preload="none" playsinline controls
										src="p/video/9.mp4" type="video/webm">
										<!-- <source src="p/video/4.webm" type="video/webm"> -->
										Your browser does not support HTML5 video.
									</video>
								</div>

								<div style="display:none;" id="video10">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin"  preload="none" playsinline controls
										src="p/video/10.mp4" type="video/webm">
										<!-- <source src="p/video/4.webm" type="video/webm"> -->
										Your browser does not support HTML5 video.
									</video>
								</div>

								<div style="display:none;" id="video11">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" preload="none" playsinline controls
										src="p/video/11.mp4" type="video/webm">
										<!-- <source src="p/video/4.webm" type="video/webm"> -->
										Your browser does not support HTML5 video.
									</video>
								</div>

								<div style="display:none;" id="video12">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" preload="none" playsinline controls
										src="p/video/12.mp4" type="video/webm">
										Your browser does not support HTML5 video.
									</video>
								</div>


								<div style="display:none;" id="video13">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" preload="none" playsinline controls
										src="p/video/13.mp4" type="video/webm">
										<!-- <source src="p/video/4.webm" type="video/webm"> -->
										Your browser does not support HTML5 video.
									</video>
								</div>

								<div style="display:none;" id="video14">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" preload="none" playsinline controls
										src="p/video/14.mp4" type="video/webm">
										<!-- <source src="p/video/4.webm" type="video/webm"> -->
										Your browser does not support HTML5 video.
									</video>
								</div>

								<div style="display:none;" id="video15">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" preload="none" playsinline controls
										src="p/video/15.mp4" type="video/webm">
										<!-- <source src="p/video/4.webm" type="video/webm"> -->
										Your browser does not support HTML5 video.
									</video>
								</div>

								<div style="display:none;" id="video16">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" preload="none" playsinline controls
										src="p/video/16.mp4" type="video/webm">
										<!-- <source src="p/video/4.webm" type="video/webm"> -->
										Your browser does not support HTML5 video.
									</video>
								</div>

								<div style="display:none;" id="video17">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" preload="none" playsinline controls
										src="p/video/17.mp4" type="video/webm">
										<!-- <source src="p/video/4.webm" type="video/webm"> -->
										Your browser does not support HTML5 video.
									</video>
								</div>

								<div style="display:none;" id="video18">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" preload="none" playsinline controls
										src="p/video/18.mp4" type="video/webm">
										<!-- <source src="p/video/4.webm" type="video/webm"> -->
										Your browser does not support HTML5 video.
									</video>
								</div>

								<div style="display:none;" id="video19">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" preload="none" playsinline controls
										src="p/video/19.mp4" type="video/webm">
										<!-- <source src="p/video/4.webm" type="video/webm"> -->
										Your browser does not support HTML5 video.
									</video>
								</div>

								<div style="display:none;" id="video20">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" preload="none" playsinline controls
										src="p/video/20.mp4" type="video/webm">
										<!-- <source src="p/video/4.webm" type="video/webm"> -->
										Your browser does not support HTML5 video.
									</video>
								</div>

          </div>
	        </section>
						<!--/Work Video  Sec-->


						<hr class="separater-hr"/>

						<!-- LP Work Sec-->
						<section id="work_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div work-wrap  sec-pad">
							<h6>LANDING PAGE DESIGN AND DEVELOPMENT</h6>
							<!-- <h7>work</h7> -->

							<p class="wow fadeInUp" data-wow-duration=".4s">My design skill set includes landing page design and responsive development. Utilizing Figma and Bootstrap Studio to streamline the process. Samples below are recent projects, please reach out for more extensive landing page samples.
							</p><br>

							<div  class="portfolio-wrap project-gallery padding-sec-lg">
								<ul id="portfolio" class="portf auto-construct  project-gallery" data-col="2">


								<li class="item" data-html="" data-poster="p/lps/lp6.jpg" data-sub-html="<h6></h6><p></p>">
              		<a href="">
										<img class="img-responsive" style="box-shadow:none!important;" src="p/lps/lp6.jpg"  alt="Image description" />
										<span class="hover-cap">Sharon Chuter Collection Responsive Landing Page</span>
										</a>
									</li>

								<li class="item" data-html="" data-poster="p/lps/lp7.jpg" data-sub-html="<h6></h6><p></p>">
              		<a href="">
										<img class="img-responsive" style="box-shadow:none!important;" src="p/lps/lp7.jpg"  alt="Image description" />
										<span class="hover-cap">Sharon Chuter Collection Responsive Landing Page</span>
										</a>
									</li>


								<li class="item" data-html="" data-poster="p/lps/lp1.jpg" data-sub-html="<h6></h6><p></p>">
              		<a href="">
										<img class="img-responsive" style="box-shadow:none!important;" src="p/lps/lp1.jpg"  alt="Image description" />
										<span class="hover-cap">Kelly Rowland Collection Responsive Landing Page</span>
										</a>
									</li>

								<li class="item" data-html="" data-poster="p/lps/lp2.jpg" data-sub-html="<h6></h6><p></p>">
										<a href="">
										<img class="img-responsive" style="box-shadow:none!important;" src="p/lps/lp2.jpg"  alt="Image description" />
										<span class="hover-cap">Kelly Rowland Collection Landing Page Mobile</span>
										</a>
									</li>

								<li class="item" data-html="" data-poster="p/lps/lp3.jpg" data-sub-html="<h6></h6><p></p>">
										<a href="">
										<img class="img-responsive" style="box-shadow:none!important;" src="p/lps/lp3.jpg"  alt="Image description" />
										<span class="hover-cap">Shoedazzle Customer Satisfaction Landing Page</span>
										</a>
									</li>

								<li class="item" data-html="" data-poster="p/lps/lp4.png" data-sub-html="<h6></h6><p></p>">
										<a href="">
										<img class="img-responsive" style="box-shadow:none!important;" src="p/lps/lp4.jpg"  alt="Image description" />
										<span class="hover-cap">Justfab Aged Lead Landing Page</span>
										</a>
									</li>

								<!-- <li class="item" data-html="#video1" data-poster="p/lps/lp3.jpg" data-sub-html="<h6></h6><p></p>">
										<a href="">
										<img class="img-responsive" style="box-shadow:none!important;" src="p/lps/lp4.jpg"  alt="Image description" />
										<span class="hover-cap">Justfab Influencer Landing Page</span>
										</a>
									</li>

								<li class="item" data-html="#video1" data-poster="p/lps/lp5.jpg" data-sub-html="<h6></h6><p></p>">
										<a href="">
										<img class="img-responsive" style="box-shadow:none!important;" src="p/lps/lp5.jpg"  alt="Image description" />
										<span class="hover-cap">Shoedazzle Influencer Landing Page</span>
										</a>
									</li>

								<li class="item" data-html="#video1" data-poster="p/lps/lp7.jpg" data-sub-html="<h6></h6><p></p>">
										<a href="">
										<img class="img-responsive" style="box-shadow:none!important;" src="p/lps/lp7.jpg"  alt="Image description" />
										<span class="hover-cap">Stop Overpaying, Native Landing Page</span>
										</a>
									</li> -->


								</ul>






							<!-- </div> -->
						</section>
						<!--/Work LP  Sec-->





						<hr class="separater-hr"/>

						<!--Qualfication Sec-->
						<section id="edu_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div education-wrap  sec-pad">
							<h5>education</h5>
							<p class="wow fadeInUp" data-wow-duration=".4s">
								I spent 4 years studying Graphic Design. I have completed several certifications from Coursera as well. I think one should never stop learning and go through a process of acquiring knowledge.
							</p>
							<div class="qualfication-wrap">
								<div class="qualfication first-row wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>1</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad"></span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Iowa State University, Iowa</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											BFA Graphic Design
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>2</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad"></span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">IBM Skills Network, Coursera</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Introduction to Cloud Computing.Introduction to Web Development. Getting started with Git and Github.Developing Front-End Apps with React
										</span>
									</div>
								</div>
								<!-- <div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>3</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad"></span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Iowa State University, Iowa</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Graphic Design Diploma
										</span>
									</div>
								</div>

							</div> -->
						</section>
						<!--/Qualfication Sec-->

						<hr class="separater-hr"/>

						<!--Experience Sec-->
						<section id="exp_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div experience-wrap  sec-pad">
							<h5>experience</h5>
							<div class="exp-timeline-wrap">
								<div class="row exp-timeline timeline-active">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0s">
												<div class="col-sm-3 duration"><span>June 2019 - present</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Lead Digital Designer, Media & Acquisitions</span>
													<span class="job-loc">Techstyle, Los Angeles</span>
													<p class="job-summary p-small">


														Managed team success in design across all channels for fast paced fashion startup. Surpassed CAC goals with scaled AD spend YOY. Concepted, designed, built and A/B tested multivariant landing pages optimized for conversions.

														</p>

														<!-- As a lead acquisitions designer at this fast paced fashion startup my responsibilities include training and management of junior designers in addition to weekly brainstorms. Daily project workload consists of paid display and social AD conception for media platforms such as Facebook, Instagram , SnapChat and TikTok for Justfab and Shoedazzle brands. In addition to design and development of companion landing pages optimized for new customer acquisition and A B testing.</p> -->
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.2s">
												<div class="col-sm-3 duration"><span>June 2017 — June 2019</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Senior Digital Designer, Media & Acquisitions</span>
													<span class="job-loc">Techstyle, Los Angeles</span>
													<p class="job-summary p-small">As a senior designer at this fast paced fashion startup daily project workload consists of paid social AD conception for media platforms such as Facebook, Instagram , Pinterest and SnapChat for Justfab and Shoedazzle brands. In addition to design and development of companion landing pages optimized for new customer acquisition and A B testing.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.4s">
												<div class="col-sm-3 duration"><span>Sept 2015 – June 2017</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Digital Designer, Media & Acquisitions
	</span>
													<span class="job-loc">Techstyle, Los Angeles
	</span>
													<p class="job-summary p-small">Support Campaign Managers with design and build of display ads, emails, skins, and takeovers.  Design of paid Ads for social media platforms such as Facebook, Instagram , Pinterest and Twitter. Design landing pages optimized for new customer acquisition and A B testing. This position allowed a lot of creative freedom and personal leadership.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.6s">
												<div class="col-sm-3 duration"><span>Aug 2013 – Sept 2014</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Graphic and UI Designer
	</span>
													<span class="job-loc">FindMySong, Los Angeles
	</span>
													<p class="job-summary p-small">Designed UI and additional graphics based on current design and branding standards for a online music start-up. Working closely with UX designers and developers in order to execute wireframes into mockups and extract graphics for the site build.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.6s">
												<div class="col-sm-3 duration"><span>Nov 2007 – Feb 2013</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Digital Designer
	</span>
													<span class="job-loc">Sony Pictures, Los Angeles
	</span>
													<p class="job-summary p-small">Collaborate with marketing teams of Sony Pictures and its subsidiaries to design and build requested interactive elements promoting Sony Pictures films, television and dvd sales. This includes teaser sites, rich media, banner campaigns, social media pages, widgets and some games or applications. </p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!--/Experience Sec-->

						<hr class="separater-hr"/>

						<!--Client Sec-->
						<!-- <section id="client_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div client-wrap  sec-pad wow bounceIn" data-wow-duration=".4s">
							<h6>clients</h6>
							<div class="client-carousel">
								<img src="img/client1.png" alt="client">
								<img src="img/client2.png" alt="client">
								<img src="img/client3.png" alt="client">
								<img src="img/client4.png" alt="client">
								<img src="img/client5.png" alt="client">
								<img src="img/client2.png" alt="client">
							</div>
						</section> -->
						<!--/Client Sec-->

						<hr class="separater-hr"/>

						<!--Achivement Sec-->
						<section id="award_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div achivement-wrap  sec-pad-top sec-pad-bottom-sm">
							<h5>Awards & Charities</h5>
							<p class="wow fadeInUp" data-wow-duration=".4s"></p>
							<div class="achivement-list-wrap margin-top-40">
								<ul class="row">
									<li class="col-sm-6">
										<ul>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0s">
											<span class="dash-pointer">-</span>
											<span class="achive-pts">Techstyle "Kick Ass" Award</span>
											</li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".2s"><span class="dash-pointer">-</span><span class="achive-pts">Sony Applause Award </span></li>

											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".2s"><span class="dash-pointer">-</span><span class="achive-pts">MAME Major Achievement in Marketing Excellence - 6 Honors </span></li>

											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s"><span class="dash-pointer">-</span><span class="achive-pts">50/50 Leadership Volunteer</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".6s"><span class="dash-pointer">-</span><span class="achive-pts">The Pheonix Volunteer</span></li>
										</ul>
									</li>
									<!-- <li class="col-sm-6">
										<ul>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0s"><span class="dash-pointer">-</span><span class="achive-pts">Drix Club des Directeurs Artistiques Paris, France</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.2s"><span class="dash-pointer">-</span><span class="achive-pts">A&AD Awards (Yellow & Black Pencils) London, UK</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s"><span class="dash-pointer">-</span><span class="achive-pts">Global Dffie Awards New York, USA</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".6s"><span class="dash-pointer">-</span><span class="achive-pts">The Intercontinental Advertising Award (The Cup) (ICAA) Spain</span></li>
										</ul>
									</li> -->
								</ul>
							</div>
						</section>
						<!--/Achivement Sec-->

						<hr class="separater-hr"/>

						<!--Contact Sec-->
						<section id="contact_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad">
							<h5>contact</h5>


				 <div data-ng-controller="ContactController" class="align-center wow fadeInUp" data-wow-duration=".4s">

												<div data-ng-controller="ContactController" class="align-center wow fadeInUp" data-wow-duration=".4s">


<!-- <div class="typeform-widget" data-url="https://form.typeform.com/to/R15BHtLB?typeform-medium=embed-snippet"
	style="width: 100%; height: 500px;"></div>
<script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script> -->


														<h3>Hey <span data-ng-bind="formData.inputName||'There'">There</span>, happy to hear from you.</h3>
														<div>

							
																<form id="form" action="https://formspree.io/f/xrgwpewl" name="contactform" method="POST" class="row form-horizontal" role="form">
																		<div class="form-group input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
																				<div class="input-wrap">
																						<input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required="">
																						<label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1"></label>
																				</div>
																		</div>
																		<div class="form-group  input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
																				<div class="input-wrap">
																						<input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Email" id="inputEmail" name="inputEmail" required="">
																						<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
																				</div>
																		</div>
																		<div class="form-group  input--hoshi col-sm-12" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
																				<div class="input-wrap">
																						<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required=""></textarea>
																						<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
																				</div>
																		</div>
																		<div class="form-group col-sm-12">
																				<div class="align-center">
																						<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
																						<span class="mask"></span>
																						<span>send message</span>
																						</button>
																				</div>
																		</div>
																</form>
																<p data-ng-class="result">{{ resultMessage }}</p>
														</div>
												</div>

												<div class="email-direct">
														<p class="wow fadeInRight" data-wow-duration=".4s">Or simply email me at <a href="mailto:mjwalkerprojects@gmail.com">mjwalkerprojects@gmail.com</a></p>
												</div>
										</section>
										<!--Contact Sec-->


						<hr class="separater-hr"/>

						<!--Footer-->
						<footer class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad">
							<div class="row">
								<div class="col-sm-6 available-wrap">
									<span class="available-pointer"></span>
									<span class="available-tag">Available for Freelance Projects.</span>
								</div>
								<div class="col-sm-6">
									<div class="social-icons-wrap float-right">
										<!--Social Icons-->
										<ul class="social-icons float-right">
											<li>
												<a href="https://www.linkedin.com/in/maggie-walker-8900387b" class="social-icon">
													<span class="fa" data-hover="&#xf0e1;">&#xf0e1;</span>
												</a>
											</li>
											<!-- <li>
												<a href="#" class="social-icon">
													<span class="fa" data-hover="&#xf099;">&#xf099;</span>
												</a>
											</li> -->
											<li>
												<a href="#" class="social-icon">
													<span class="fa" data-hover="&#xf16e;">&#xf16e;</span>
												</a>
											</li>
											<!-- <li>
												<a href="https://www.instagram.com/fleekwoodmak/" class="social-icon">
													<span class="fa" data-hover="&#xf16d;">&#xf16d;</span>
												</a>
											</li> -->
										</ul>
										<!--/Social Icons-->
									</div>
									<div class="goto-top text-right float-right">
										<a data-scroll href="#body">
											<span data-hover="top">
												top
											</span>
										</a>
									</div>
									<div class="copywrite-wrap text-right float-right">
										<p class="copywrite"> <b></b> Updated <b> Spring 2022.</b> </p>
									</div>
								</div>
							</div>
						</footer>
						<!--/Footer-->

					</div>
					<!--/Main Content-->

				</div>
			</div>
		</div>
		<!-- /Container -->

		<!-- Scripts -->
		<script src="js/jquery-1.12.4.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/smooth-scroll.js"></script>
		<script src="js/countTo.js"></script>
		<script src="js/jQuery.appear.js"></script>
		<script src="js/isotope.js"></script>
		<script src="js/typed.js"></script>
		<script src="js/lightgallery-all.js"></script>
		<script src="js/jquery.mousewheel.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/froogaloop2.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/init.js"></script>

		<script>
				$("#typed").typed({
					strings: ["^2100&nbsp;I Am Maggie, a Freelance Graphic Designer.<br/>"],
					typeSpeed: 30,
					backDelay: 750,
					loop: false,
					cursorChar: "|",
					contentType: 'html', // or text
					// defaults to false for infinite loop
					loopCount: false
				});
		</script>

		<script>
			// Function to extract URL parameters
			function getParameterByName(name, url) {
				if (!url) {
					url = window.location.href;
				}
				name = name.replace(/[\[\]]/g, '\\$&');
				var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
					results = regex.exec(url);
				if (!results) return null;
				if (!results[2]) return '';
				return decodeURIComponent(results[2].replace(/\+/g, ' '));
			}

			// Function to update text element with parameter value
			function updateTextElement() {
				var helloValue = getParameterByName('hello');
				var textElement = document.getElementById('textElement');
				if (helloValue) {
					textElement.textContent = helloValue;
				}
			}
		</script>

	</body>
</html>
